@tailwind base;
@tailwind components;
@tailwind utilities;


.card-frame, .card-number-frame, .expiry-date-frame, .cvv-frame{
  border: solid 1px #13395e;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 8px;
  height: 40px;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.2);
  @apply input; 
  @apply input-bordered;
}

.card-frame.frame--rendered {
  opacity: 1; /* Prevents iFrame rendering issue */

  /* Reminder: consider removal of 'rendered' */
  /* event passing to Merchant page */
}

.card-frame.frame--rendered.frame--focus {
  border: solid 1px #13395e;
  box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.15);
}

.card-frame.frame--rendered.frame--invalid {
  border: solid 1px #d96830;
  box-shadow: 0 2px 5px 0 rgba(217, 104, 48, 0.15);
}





